<template functional>
  <div class="background"/>
</template>

<style lang="postcss" scopped>
  .background {
    @apply absolute z-0 h-screen w-screen;
    background-image: url("../assets/luh-background.png");
  }
</style>
